  
<div class="card mb-5">
    <div class="card-header bg-secondary">
        <h4 class="card-title"><a class="text-info" href="/game/{{id}}">{{game_name}}</a></h4>
        {{!-- <h6 class="card-subtitle mb-2 text-light">Posted by {{user.username}} on {{created_at}}</h6> --}}
    </div>
    <div class="card-body">
        <p class="card-text">{{game_name}}</p>
    </div>
</div>