
<div class="columns is-mobile">
    <div class="column is-three-fifths">
        <div class="card" style="margin: 50px; padding:30px; border-radius:25px;">
            <h1 style="font-size:45px;">Results</h1>
            <p>
                {{character.character_name}}
                {{character.age}}
                {{character.first_appearance}}
                {{character.race}}
                {{character.faction_char}}
                {{character.bio}}
            </p>
        </div>
    </div>
</div>

